@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Navy: #011638;
    --Gold: #ecd398;
  }

  /* .slick-dots li.slick-active button:before {
    color: red !important;
    opacity: 100% !important;
  }

  
.slick-dots li button:before {
  color: red !important;
  opacity: 30% !important;
} */